html {
    color: black;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

#listado {
    list-style: none;
    padding: 0;
    margin: 0;
}

#listado li {
    margin: 0px;
    padding: 7px;
    cursor: pointer;
}

.file-name {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #ccc;
    cursor: pointer;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    color: black;
}

table h1 {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table h1 {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.tabla {
    display: flex;
    justify-content: center;
    width: 100%;
}